
# Eclipse
# ============================
*.pydevproject
*.tmp
*.bak
*.swp
*~.nib
bin/
tmp/
WebContent/WEB-INF/classes
WebContent/WEB-INF/lib
.settings/
.classpath
.project
Blips.out
worm.out
.metadata
.mymetadata
local.properties
.loadpath


# Package Files #
# =====================
*.jar
*.war
*.ear

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
